/*Theme Variables*/

:root {
  /*Colour settings*/
  /*Set the opacity for light colour variants*/
  --light:0.1; 

  /*Primary Theme Colour*/
  /*Set the individual colour values for this theme colour*/
  --pr:63; /*red*/
  --pg:87; /*green*/
  --pb:90; /*blue*/

  --primary-theme-colour: rgba(var(--pr),var(--pg),var(--pb),1);
  --primary-theme-colour-light: rgba(var(--pr),var(--pg),var(--pb),var(--light));

  /*Secondary Theme Colour*/
  /*Set the individual colour values for this theme colour*/
  --sr:120; /*red*/
  --sg:98; /*green*/
  --sb:71; /*blue*/

  --secondary-theme-colour: rgba(var(--sr),var(--sg),var(--sb),1);
  --secondary-theme-colour-light: rgba(var(--sr),var(--sg),var(--sb),var(--light));

  /*tertiary Theme Colour*/
  /*Set the individual colour values for this theme colour*/
  --tr:135; /*red*/
  --tg:168; /*green*/
  --tb:171; /*blue*/

  --tertiary-theme-colour: rgba(var(--tr),var(--tg),var(--tb),1);
  --tertiary-theme-colour-light: rgba(var(--tr),var(--tg),var(--tb),var(--light));

  /*quaternary Theme Colour*/
  /*Set the individual colour values for this theme colour*/
  --qr:168; /*red*/
  --qg:71; /*green*/
  --qb:54; /*blue*/

  --quaternary-theme-colour: rgba(var(--qr),var(--qg),var(--qb),1);
  --quaternary-theme-colour-light: rgba(var(--qr),var(--qg),var(--qb),var(--light));

  /*Font settings*/

  --font-family: calibri;
  
  --h1-font-size: 40px;
  --h1-font-weight: lighter;

  --h2-font-size: 22px;
  --h2-font-weight: bold;

  --h3-font-size: 17px;
  --h3-font-weight: lighter;

  --h4-font-size: 10px;
  --h4-font-weight: lighter;

  --brand-font-size: 61px;
  --brand-font-weight: bold; /*used for span in brand*/

  --p-font-weight: lighter;

  /* Section settings */
  --section-margin-top: 30px;
  --section-margin-bottom: 30px;
  --section-margin-left: 0px;
  --section-margin-right: 0px;
  --section-padding-top: 0px;
  --section-padding-bottom: 0px;
  --section-padding-left: 0px;
  --section-padding-right: 0px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
  color: var(--primary-theme-colour);
  text-transform: uppercase
}

h1.brand{
  font-size: var(--brand-font-size);
  line-height: 0.7;
}

.brand .sub {
  font-weight: var(--brand-font-weight);
  color: var(--secondary-theme-colour);
  font-size: var(--h2-font-size);
}

h2{
  font-size: var(--h2-font-size);
  font-weight: var(--h2-font-weight);
  color: var(--secondary-theme-colour);
  text-transform: uppercase
}

h3{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--tertiary-theme-colour);
  text-transform: uppercase
}

p, td{
  color: var(--secondary-theme-colour);
  font-weight: var(--p-font-weight);
}

.price{
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
  color: var(--quaternary-theme-colour);
  text-transform: uppercase;
  margin-left: 10px;
}

* {
  font-family: var(--font-family);
}

@font-face {
  font-family: var(--font-family);
  font-display: swap;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}